
body {
    margin: 0;
}

ul {
    list-style-type: none;
    padding:0;
}

a {
    text-decoration: none;
}

*, ul {
    margin: 0;
}

::after, ::before {
    box-sizing: border-box;
}


.intro {
    background-color: #00000a;
    height: 30px;
    position: relative;
    span {
        color: white;
        font-size: 12px;
    }
}

.shortcut-box {
    height: calc(100vh - 30px);
    background-color: #00000a;
    width: 45px;
    text-align: center;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
        color: white;
        display: block;
        padding: 10px auto;
        margin: 0 0 15px 0;
        i {
            font-size: 20px;
        }
    }
}

.nav-section {
    height: calc(100vh - 30px);
    background-color: #1a1a1f;
    width: 18vw;
    transition: width 0.5s;

    p{
        color: white;
        background-color: #00000a;
        padding: 5px auto;
        font-size: 14px;
        border-top: 1px solid rgb(31, 30, 30);
        border-left: 1px solid rgb(31, 30, 30);
        margin-bottom: 0;
    }

    .pages-list {
        margin-top:0 ;
        li.active {
            background-color: rgba(0,0,0,0.3);
            width: 100%;
        }
        li {
            padding: 5px 20px;
            &:hover {
                background-color: rgba(0,0,0,0.3);
            }
            
            a {
                color: white;
                font-size: 13px;
               
                i {
                    margin-right: 8px;
                }
            }
        }
    }
    
}

.nav-section.active {
    transform: translateX(-100%);
}

.content-area {
    height: auto;
    background-color: #3e3e3f;
    width: 85vw;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    color: white;
}


@media(max-width:586px) {
    .shortcut-box {
        width: 20vw;
    }

    .nav-section {
        width: 0;
    }
    
}